.todo-list ul {
  padding: 0 10px 10px 10px;
  list-style-type: none;

  li {
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 4px;

    &:hover {
      opacity: 1;
      text-decoration: line-through;
    }
  }
}
